.Product{
    padding: 10px;
    background-color:#80ffcc;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 400px;
    justify-content: center;
    align-items: center;
    flex-shrink: 20px;
    text-align: left;
    size:10px;
    margin:50px;
    object-fit: contain;
    border-radius: 10px;
    font-size: 30px;
}
.image{
    height:60%;
    width: 100%;
    position: relative;
}

.ProductName{
    font-size: 90%;
    margin-top: 0%;
    height:60px;
    width:100%;
}

.Price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 100%;
}
